.forma{
	background: #eff3f7
}
.messheader{
	height: 138px;
	border-radius: 3px;
	background-color: #48cbe8;
	margin-bottom: 50px;
}
.messhead{
	font-family: 'FiraSansBook';
	font-size: 27px;
	font-weight: normal;
	color: #fff;
	line-height: 135px;
	margin:0;
	margin-left: 60px;
}
.messline{
	margin-top: -3px;
	height: 17px;
	background-color: #67dffa;
}
.messcont{
	display: block;
	width: 402px;
	margin:0 auto;
}
.messname{
	font-family: "FiraSansLight";
	font-size: 19px;
	color: #959aa8;
	font-weight: normal;
}
.messwrap{
	display: block;
	margin-bottom: 18px;
}
.messwrap1{
	float: left;
}
.messwrap2{
	float: right;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after{
	clear: both;
}
.messinp, .code{
	display: block;
	height: 40px;
	width: 191px;
	border: solid 1px #48cbe8;
	border-radius: 3px;
	box-sizing: border-box;
	padding-left: 10px;
	color: #48cbe8;
}
*::-webkit-input-placeholder { 
	color: #48cbe8; 
}
.message{
	border-radius: 3px;
	border: solid 1px #48cbe8;
	color: #48cbe8;
	display: block;
	resize:none;
	width: 100%;
	min-height: 111px;
	box-sizing:border-box;
	padding-left: 10px;
	margin-bottom: 18px;
}
.capcha{
	margin-bottom: 21px;
}
.capchahere{
	width: 192px;
	height: 79px;
	box-sizing:border-box;
	border: solid 1px  #48cbe8;
	border-radius: 3px;
	float: left;
	text-align: center;
	padding-top: 25px;
	background-color: #fff;
}
.code{
	float: right;
	margin-top: 21px;
}

/*Button decoration*/
.messbutton, .messbutton1{
	background-color: #48cbe8;
	border-radius: 7px;
	font-family: "FiraSansBook";
	display: block;
	margin: 0 auto;
	width: 140px;
	height: 33px;
	margin-bottom: 22px;
	font-size: 19px;
	color: #fff;
	border:none;
	box-shadow: 0 4px #3ba8c0;
}
.messbutton1:hover,.messbutton:hover{
	box-shadow: none;
}
.messbutton:active{
	box-shadow: 0 -4px #3ba8c0;
}
.messbutton, .messbutton:active,
.messbutton:focus{
    outline: none;
}

.messbutton1{
background-color: #849db5;
box-shadow: 0 4px #687b8f;
}
.messbutton1:active{
	box-shadow: 0 -4px #687b8f;
}
.messbutton1, .messbutton1:active,
.messbutton1:focus{
    outline: none;
}
.messbut{
	display: block;
	padding-bottom: 45px;
}

.messbutton{
	float: left;
}
.messbutton1{
	float: right;
}

