html{
	min-height: 100%;
	position: relative;
}
body {
	background-image: url(../img/bg.png);
	height: 100%;
	min-width: 970px;
	font:normal 1em 'FiraSansLight';
}

.inf, .name{
	margin: 0;
	width: 319px;
	font-family: "FiraSansBook";
	font-size: 26px;
	font-weight: normal;
	color: #3ba8c0;
	padding-left: 20px;
	line-height: 70px;
	border-bottom: 2px solid #3ba8c0;
	margin-bottom: 24px;
}
.header{
	max-width: 1200px;
	margin: 0 auto;
}
header{
	width: 100%;
	height: 119px;
	background-color: #eff3f7;
	background-image: url(../img/border.png);
	background-repeat: no-repeat;
	background-position: bottom;
	margin-bottom: 38px;

}
.logo{
	margin-top: 39px;
	float: left;
}
.lang, .lang1{
	margin-top: 5px;
	border: solid 1px;
	width: 40px;
	height: 30px;
}
.lang1{
	height: 29px;
}
.lang:hover, .lang1:hover{
	color: #3ba8c0;
}
.linking{
	text-indent: -9999px;
}
.social {
	float:right;
	letter-spacing: 19px;
	margin-top: 35px;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after{
	clear: both;
}
.social a {
	height: 47px;
	width: 47px;
	display: inline-block;
}
.social a:nth-child(1) {
	background-image: url(../img/vk.png);
}
.social a:nth-child(2) {
	background-image: url(../img/tw.png);
}
.social a:nth-child(3) {
	background-image: url(../img/facebook.png);
}
.social a:nth-child(4) {
	background-image: url(../img/github.png);
}
.social a:nth-child(1):hover {
	background-image: url(../img/vk.png);
	background-position: -47px 0;
}
.social a:nth-child(2):hover {
	background-image: url(../img/tw.png);
	background-position: -47px 0;
}
.social a:nth-child(3):hover {
	background-image: url(../img/facebook.png);
	background-position: -47px 0;
}
.social a:nth-child(4):hover {
	background-image: url(../img/github.png);
	background-position: -47px 0;
}
.main{
	margin: 0 auto;
	width: 960px;
	margin-bottom: 13px;
}
.side{
	width: 250px;
	float: left;
}
.menu{
	background-color:#eff3f7; 
	border-radius: 3px;
	margin-bottom: 23px;
	overflow: hidden;
}
.menulist{
	margin: 0;
	padding:0;
	list-style: none;
	line-height: 74px;
}
.menuitems{
	margin:0 10px;
}
.navlist{
	display: block;
	border-top: 2px solid #3ba8c0;
	text-decoration: none;
	color: #959aa8;
	padding-left: 18px;
	font-family: "FiraSansBook";
	font-size: 21px;
}
.navlist:hover{
	color: #3ba8c0;
}
.navlist.current{
	background: #3ba8c0;
    color: #ffffff;
    font-size: 22px;
    margin:0 -10px;
    padding-left: 28px;
    border-bottom: none;
    margin-bottom: -2px;
}

#callme{
	border-top: none;
}

.contacts{
	border-radius: 3px;
	overflow: hidden;
	font-family: "FiraSansBook";
	font-style: normal;	
	color: #ffffff;
	line-height: 40px;
	display: block;
}
.contacts-head{
	font-weight: normal;
	font-size: 21px;
	margin: 0;
	background: #3ba8c0;
	padding-left: 21px;
}
.contacts-list{
	width: 250px;
	margin:0;
	padding:0;
	list-style: none;
}
.contacts-list-inner{
	padding-left: 83px;
}
.contacts-items{
	text-decoration: none;
	font-size: 17px;
	color: #ffffff;
}
.contacts-items:hover{
	text-decoration: underline;
}
.mail{
	background-color: #41b9d4;
	background-image: url(../img/mail.png);
	background-position: 42px;
	background-repeat: no-repeat;
}
.tel{
	background-color: #48cbe8;
	background-image: url(../img/tel.png);
	background-position: 42px;
	background-repeat: no-repeat;	
}
.skype{
	background-color: #51daf8;
	background-position: 42px;
	background-image: url(../img/skype.png);
	background-repeat: no-repeat;
}
section{
	width: 650px;
	float: right;
}
.info{
	background-color: #eff3f7;
	margin-bottom: 25px;
	border-radius: 3px;
}
h2.inf{
	width: 192px;
}

.microwrap{
	background-image: url("../img/case.png");
	background-repeat: no-repeat;
	padding-left: 125px;
	background-position: 58px 4px;
}
.min{
	padding-bottom: 20px;
}
.hat{
	background-image: url("../img/hat.png");
	background-repeat: no-repeat;
	padding-left: 125px;
	background-position: 58px 4px;

}
.list{
	background-image: url("../img/sheet.png");
	background-repeat: no-repeat;
	padding-left: 125px;
	background-position: 65px 4px;
	padding-bottom: 20px;
}
.exp1{
	font-family: "FiraSansBook";
	font-size: 17px;
	color: #4a545d;
}
.exp{
	font-family: "FiraSansLight";
	font-size: 15px;
	color: #4a545d;
	margin:0;
	padding-bottom: 27px;
}

.image-wrap{
	float: left;
	margin-left: 55px;
	margin-top: 10px;
	margin-bottom: 40px;
}
.avatar{
	width: 142px;
	height: 142px;
	border-radius: 50%;
	overflow: hidden;
	border: 5px solid #3ba8c0;
}
.ava{
	width: 100%;
}
.work-wrap{
	width: 400px;
	float: right;
}
ul.worklist{
	margin:0;
	padding:0;
}
li.workitems{
	list-style: none;
}
.workitems1{
	font-family: "FiraSansMedium";
	font-size: 17px;
	color: #4a545d;
	display: inline-block;
}
.workitems2{
	display: inline-block;
	font-family: "FiraSansBook";
	font-size: 15px;
	color: #4a545d;
	margin-left: 21px;

}
.workitems-last{
	font-family: "FiraSansBook";
	font-size: 15px;
	float: right;
}
.skills{
	padding: 0;
	float: left;
	width: 220px;
	list-style: none;
	display: inline-block;
	
}
.skill-item{
	font-family: 'proxima_nova_cond';
	font-size: 14px;
	line-height: 20px;
	display: inline;
	text-align: center;
	border-radius: 2px;
	padding: 2px 13px;
	color: #fff;
	margin-right: 8px;
	margin-bottom: 9px;
	background: -webkit-linear-gradient(#3ba8c0 50%, #2e8ca2 50%);
	background: -moz-linear-gradient(#3ba8c0 50%, #2e8ca2 50%);
	background: -ms-linear-gradient(#3ba8c0 50%, #2e8ca2 50%);
	background: -o-linear-gradient(#3ba8c0 50%, #2e8ca2 50%);
	background: linear-gradient(#3ba8c0 50%, #2e8ca2 50%);	
}

/*Footer to the bottom*/

.wrapper{
	padding-bottom: 120px;
}
/*Footer*/
.page-footer{
	height: 80px;
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: #eff3f7;
	background-image: url(../img/border.png);
	background-repeat: no-repeat;
	background-position: top;	
}
.container{
	width: 960px;
	margin: 0 auto;
	padding-top: 24px;
	position: relative;
}
.copyright{
	margin:0 180px;
	text-align: center;
	padding-top: 8px;
	font-size: 13px;
}
.lock{
	position: absolute;
	top:26px;
	left: 20px;
}
.lock-inner{
	display: block;
	height: 40px;
	font-family: "FiraSansBook";
	font-size: 16px;
	line-height: 2.2;
	color: #4a545d;
	text-decoration: none;
	background: url("../img/closelock.png") no-repeat;
	padding-left: 24px;
}

.lock-inner:hover{
	text-decoration: underline;
	background: url("../img/openlock.png")  no-repeat;

}

/*--------------qtip2------------------*/
.qtip-mystyle{
	background-color: #f97e76;
    border-color: #f97e76;
    color: #fff;
    font-size: 13px;
}
.empty_error{
	background: #fdd5d2;
    border-color: #f97e76 !important;
}
