html{
	height: 100%;
}
body {
	background-image: url(../img/bg.png);
	height: 100%;
	font:normal 1em 'FiraSansLight';
}
h2{
	margin: 0;
	height: 70px;
	max-width: 300px;
	font-family: "FiraSansLight";
	font-size: 26px;
	color: #3ba8c0;
	padding-left: 20px;
	line-height: 70px;
	border-bottom: 2px solid #3ba8c0;
	margin-bottom: 24px;

}
.header{
	max-width: 1200px;
	margin: 0 auto;
}
header{
	width: 100%;
	height: 119px;
	background-color: #eff3f7;
	background-image: url(../img/border.png);
	background-repeat: no-repeat;
	background-position: bottom;
	margin-bottom: 38px;
}
.logo{
	margin-top: 39px;
	float: left;
}
.social {
	float:right;
	letter-spacing: 19px;
	margin-top: 35px;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after{
	clear: both;
}
.social a {
	height: 47px;
	width: 47px;
	display: inline-block;
}
.social a:nth-child(1) {
	background-image: url(../img/vk.png);
}
.social a:nth-child(2) {
	background-image: url(../img/tw.png);
}
.social a:nth-child(3) {
	background-image: url(../img/facebook.png);
}
.social a:nth-child(4) {
	background-image: url(../img/github.png);
}
.social a:nth-child(1):hover {
	background-image: url(../img/vk.png);
	background-position: -47px 0;
}
.social a:nth-child(2):hover {
	background-image: url(../img/tw.png);
	background-position: -47px 0;
}
.social a:nth-child(3):hover {
	background-image: url(../img/facebook.png);
	background-position: -47px 0;
}
.social a:nth-child(4):hover {
	background-image: url(../img/github.png);
	background-position: -47px 0;
}
.main{
	height: 100%;
	margin: 0 auto;
	width: 960px;
	margin-bottom: 40px;
	border: solid 1px;
}
.side{
	width: 250px;
	float: left;
}
.menu{
	background-color:#eff3f7; 
	border-radius: 3px;
	margin-bottom: 23px;
	overflow: hidden;
}
.menulist{
	margin: 0;
	padding:0;
	list-style: none;
	line-height: 74px;
}
.menuitems{
	margin:0 10px;
}
.navlist{
	display: block;
	border-bottom: 2px solid #3ba8c0;
	text-decoration: none;
	color: #959aa8;
	padding-left: 18px;
	font-family: "FiraSansBook";
	font-size: 21px;
}
.navlist:hover{
	color: #3ba8c0;
}
.active, .active:hover{
	background: #3ba8c0;
    color: #ffffff;
    font-size: 22px;
    margin:0 -10px;
    padding-left: 28px;

}

/*.navlist:nth-child(1):hover {
	background-color: #3ba8c0;
}
.navlist:nth-child(2):hover {
	background-color: #3ba8c0;
}
.navlist:nth-child(3):hover {
	background-color: #3ba8c0;
}
.navlist:hover {
	color:#ffffff;
}*/
#callme{
	border-bottom: none;
}

address.contacts{
	border-radius: 3px;
}
.contacts-head{
	font-family: "FiraSansBook";
	font-size: 21px;
}

.contacts-items{
	
}



section{
	width: 650px;
	float: right;
}
.info{
	background-color: #eff3f7;
	margin-bottom: 25px;
	border: solid 1px;
}
.exp1{
	
}
p.exp{
	margin:0;
}






.image-wrap{
	float: left;
	margin-left: 55px;
	margin-top: 18px;
}
.avatar{
	width: 142px;
	height: 142px;
	border-radius: 50%;
	overflow: hidden;
	border: 5px solid #3ba8c0;
}
.ava{
	width: 100%;
}
.work-wrap{
	width: 400px;
	float: right;
}
ul.worklist{
	margin:0;
	padding:0;
}
li.workitems{
	list-style: none;
}
.workitems1{
	font-family: "FiraSansBook";
	display: inline-block;
}
.workitems2{
	display: inline-block;
}
.skills{
	padding:0;
	width: 220px;
	display: inline-block;
	list-style: none;
	border: solid 1px;
}
.skill-item{
	display: inline;

}





/*Footer to the bottom*/
.wrapper{
	position: relative;
	min-height: 100%;
	min-width: 970px;
}
.wrapper:after{
	content: " ";
	height: 80px;
	display: block;
}
.page-footer{
	min-width: 970px;
	height: 80px;
	margin-top: -80px;
}
/*Footer*/
footer{
	height: 80px;
	background-color: #eff3f7;
	background-image: url(../img/border.png);
	background-repeat: no-repeat;
	background-position: top;
	
}
.container{
	width: 960px;
	margin: 0 auto;
	padding-top: 24px;
}
.copyright{
	text-align: center;
	margin-top: 8px;
	font-size: 13px;
}
.lock .lock-inner{
	height: 40px;
	font-family: "FiraSansBook";
	font-size: 16px;
	line-height: 2.2;
	color: #4a545d;
	text-decoration: none;
	float:left;
	background: url("../img/closelock.png") no-repeat;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after{
	clear: both;
}

.lock .lock-inner:hover{
	text-decoration: underline;
	background: url("../img/openlock.png");
}

