/*-----------Добавление нового проекта---------*/

.addprojpop{
	z-index: 999;
	position: fixed;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	display: none;
	background-color: rgba(0, 0, 0, 0.7);
	cursor: pointer;
/*затемнение в IE8*/	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
}
.project{
	z-index: 1000;
	position: fixed;
	top:0;
	width: 362px;
	border-radius: 3px;
	background: #eff3f7;
	box-shadow; 0 0 10px rgba(0, 0, 0, 0.5);
	display: none;
}
.popupadd{
	width: 362px;
	display: block;
	margin:0 auto;
}
.popwrap{
	width: 320px;
	margin: 0 auto;
	margin-bottom: 15px;
}
.pophead{
	height: 50px;
	border-radius: 3px;
	background-color: #48cbe8;
	margin-bottom: 27px;
}
.btnclose{
	display: block;
	cursor: pointer;
	margin-top: 10px;
	float: right;
	width: 30px;
	height: 30px;
	background-image: url(../img/close.png);
	background-repeat: no-repeat;
}
.popheader{
	float: left;
	font-family: 'FiraSansBook';
	font-size: 25px;
	font-weight: normal;
	color: #fff;
	line-height: 50px;
	margin:0;
	margin-left: 12px;

}
.fail{
	display: none;
	border: solid 1px #f97e76;
	border-radius: 3px;
	background-color: #f2cccd;
	font-family: "FiraSansBook";
	color: #f97e76;
	background-image: url(../img/close2.png);
	background-repeat: no-repeat;
	background-position: 98% 10%;
	padding-left: 9px;
}
.fail1{
	margin:0;
	font-size: 25px;
	font-weight: normal;
}
.fail2{
	margin:0;
	font-size: 15px;
	font-weight: normal;
	padding-bottom: 6px;
}
.successwrap{
	margin-top: 15%;
	display: none;
	position: fixed;
	box-sizing:border-box;
	z-index: 1001;
	width: 361px;
	height: 103px;
	background-color: #eff3f7;
	border-radius: 3px;
	padding-top: 18px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.success{
	display: block;
	width: 320px;
	margin: 0 auto;
	background-image: url(../img/close3.png);
	background-repeat: no-repeat;
	background-position: 98% 10%;
	padding-left: 9px;
	border-radius: 3px;
	background-color: #b8e1ce;
	font-family: "FiraSansBook";
	color: #49bb7b;
	border: solid 1px #49bb7b;
}
.success1, .success2{
	font-size: 25px;
	font-weight: normal;
	margin: 0;
}
.success2{
	font-size: 15px;
}
.popinp{
	display: block;
	margin: 0 auto;
	height: 40px;
	width: 100%;
	border: solid 1px #48cbe8;
	border-radius: 3px;
	box-sizing: border-box;
	padding-left: 20px;
	color: #48cbe8;
}
.placeholder{
	line-height: 40px; /* for IE8*/
}
.imagination{
	z-index: 2;
	display: block;
	position: relative;
	opacity: 0;
	cursor: pointer;
}
.magic{
	color: #48cbe8;
	margin: 0;
	padding: 0;
	height: 40px;
	width: 320px;
	display: block;
	position: absolute;
	border-radius: 3px;
	box-sizing: border-box;
	padding-left: 20px;
	border: 1px solid #48cbe8;
	background-image: url(../img/imgupload.png);
	background-repeat: no-repeat;
	background-position: right;
	line-height: 40px;
}
.poplabel{
	font-family: "FiraSansBook";
	font-size: 17px;
	color: #959aa8;
	font-weight: normal;
}
.poparea{
	border-radius: 3px;
	border: solid 1px #48cbe8;
	color: #48cbe8;
	display: block;
	resize:none;
	width: 100%;
	min-height: 111px;
	box-sizing:border-box;
	padding-left: 20px;
	margin-bottom: 20px;
}
.buttonpop{
	background-color: #48cbe8;
	border-radius: 7px;
	font-family: "FiraSansBook";
	display: block;
	margin: 0 auto;
	width: 140px;
	height: 33px;
	margin-bottom: 22px;
	font-size: 19px;
	color: #fff;
	border:none;
	box-shadow: 0 4px #3ba8c0;
}
.buttonpop:hover{
	box-shadow: none;
}
.buttonpop:active{
	box-shadow: 0 -4px #3ba8c0;
}
.buttonpop, .buttonpop:active,
.buttonpop:focus{
    outline: none;
}
*::-webkit-input-placeholder { 
	color: #48cbe8; 
}